<article class="media has-background-grey-light" data-sortable-target="item" data-item-id="<%= menu_item.id %>">
  <div class="media-left">
    <% if menu_item.photo.attached? %>
    <p class="image is-64x64">
      <%= image_tag safe_variant(menu_item.photo, resize_to_fill: [256, 256]), loading: 'lazy' %>
    </p>
    <% end %>
  </div>
  <div class="media-content">
    <div class="content">
      <h5>
        <span class="handle icon is-small"><i class="fas fa-ellipsis-v"></i></span>
        <%= menu_item.name %>
      </h5>
      <p><%= menu_item.description %></p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <%= link_to toggle_availability_merchant_menu_item_path(merchant, menu_item), method: :put, class: 'level-item' do %>
          <% if menu_item.available %>
            <span class="icon is-small"><i class="fas fa-check-square"></i></span><span>&nbsp;Disponible</span>
          <% else %>
            <span class="icon is-small"><i class="far fa-square"></i></span><span>&nbsp;Disponible</span>
          <% end %>
        <% end %>
        <%= link_to edit_merchant_menu_item_path(merchant, menu_item), class: 'level-item' do %>
        <span class="icon is-small"><i class="fas fa-edit"></i></span><span>&nbsp;Editar</span>
        <% end %>
        <%= link_to merchant_menu_item_path(merchant, menu_item), class: 'level-item has-text-danger', method: :delete do %>
        <span class="icon is-small"><i class="fas fa-trash"></i></span><span>&nbsp;Eliminar</span>
        <% end %>
      </div>
    </nav>
  </div>
  <div class="media-right">
    <div class="content">
      <p><%= menu_item.price.format %><br/><%= menu_item.unit %></p>
    </div>
  </div>
</article>
