<li class="columns is-vcentered has-background-grey-light" data-target="sortable.item" data-url="<%= merchant_menu_item_path(merchant, menu_item) %>">
  <div class="column is-narrow px-0">
    <span class="icon handle">
      <i class="fas fa-grip-lines"></i>
    </span>
  </div>
  <div class="column">
    <article class="media" data-target="sortable.item">
      <div class="media-left">
        <% if menu_item.photo.attached? %>
        <p class="image is-64x64">
          <%= image_tag menu_item.photo.variant(resize_to_fit: [128, 128]) %>
        </p>
        <% end %>
      </div>
      <div class="media-content">
        <div class="content">
          <h5><%= menu_item.name %></h5>
          <p><%= menu_item.description %></p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <%= link_to edit_merchant_menu_item_path(merchant, menu_item), class: 'level-item' do %>
            <span class="icon is-small"><i class="fas fa-edit"></i></span><span>&nbsp;Editar</span>
            <% end %>
            <%= link_to merchant_menu_item_path(merchant, menu_item), class: 'level-item has-text-danger', method: :delete do %>
            <span class="icon is-small"><i class="fas fa-trash"></i></span><span>&nbsp;Eliminar</span>
            <% end %>
          </div>
        </nav>
      </div>
      <div class="media-right">
        <div class="content">
          <p><%= menu_item.price.format %></p>
        </div>
      </div>
    </article>
  </div>
</li>
