<div class="columns">
  <div class="column is-one-fifth-widescreen is-one-fourth-desktop is-one-third-tablet">
    <%= render @merchant, cached: true %>
  </div>
  <div class="column">
    <div class="level">
      <div class="level-left">
        <h1 class="title">Secciones</h1>
      </div>
      <div class="level-right">
        <%= link_to new_merchant_section_path(@merchant), class: 'button is-info is-outlined is-pulled-right' do %>
          <span>Agregar Sección</span>
          <span class="icon is-small"><i class="fa fa-plus" aria-hidden="true"></i></span>
        <% end %>
      </div>
    </div>
    <div data-controller="sortable" data-sortable-url-value="<%= sort_merchant_sections_path(@merchant)%>">
      <% @sections.each do |section| %>
      <article class="media">
        <div class="media-content">
          <div class="content">
            <h4 class="is-capitalized">
              <span class="handle icon is-small"><i class="fas fa-ellipsis-v"></i></span>
              <%= section.name %>
            </h4>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <%= link_to edit_merchant_section_path(@merchant, section), class: 'level-item' do %>
              <span class="icon is-small"><i class="fas fa-edit"></i></span><span>&nbsp;Editar</span>
              <% end %>
              <%= link_to merchant_section_path(@merchant, section), class: 'level-item has-text-danger', method: :delete do %>
              <span class="icon is-small"><i class="fas fa-trash"></i></span><span>&nbsp;Eliminar</span>
              <% end %>
            </div>
          </nav>
        </div>
      </article>
      <% end %>
    </div>
  </div>
</div>
