<section class="section" data-controller="checkout", data-checkout-merchant-phone="52<%= merchant.phone %>" >
  <div class="columns">
    <div class="column">
      <% merchant.menu.sections.with_items.each do |section| %>
        <%- section_items = menu_items.where(section: section) %>
        <h1 class="title is-4 is-capitalized" id="section<%= section.id%>"><%= section.name %></h1>
          <%= render partial: 'pages/menu_item', collection: section_items, as: :item, locals: { merchant: merchant } %>
        <hr/>
      <% end %>
      <% if merchant.ready_to_deliver? %>
        <div class="container has-text-right">
          <h1 class='title'>Total</h1>
          <h2 class='subtitle is-2' data-target="checkout.totalValue">$0.00</h2>
        </div>
      <% end %>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <% if merchant.ready_to_deliver? %>
        <%= link_to whatsapp_url("52#{merchant.phone}"), class: 'button is-success is-fullwidth is-large', data: { target: 'checkout.whatsappOrder' } do %>
          Ordenar por &nbsp; <span class='icon'><i class="fab fa-whatsapp"></i></span>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
