<% content_for(:title, @merchant.name) %>
<div class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @merchant.name %>
      </h1>
    </div>
  </div>
</div>

<section class="section">
  <div class="columns">
    <div class="column">
      <% @merchant.menu_items.each do |item| %>
        <article class="media">
          <div class="media-left">
            <p class="image is-92x92">
              <img src="https://placeimg.com/92/92/bacon?=<%= rand(100) %>%">
            </p>
          </div>
          <div class="media-content">
            <div class="content">
              <h6><%= item.name %></h6>
              <p><%= item.description %></p>
            </div>
          </div>
          <div class="media-right">
            <div class="content">
              <p>$ <%= item.price %></p>
            </div>
          </div>
        </article>
      <% end %>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <% if @merchant.phone.present? %>
        <%- message = 'Hola, vi anuncio en menufacilito.com y me gustaria ordenar' %>
        <%= link_to whatsapp_url(@merchant.phone, message), class: 'button is-success is-fullwidth is-large' do %>
          <span class='icon'><i class="fab fa-whatsapp"></i></span> &nbsp; Ordenar por WhatsApp
        <% end %>
      <% end %>
    </div>
  </div>
</section>