<% content_for(:title, @merchant.name) %>
<div class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @merchant.name %>
      </h1>
    </div>
  </div>
</div>

<section class="section" data-controller="checkout">
  <div class="columns">
    <div class="column">
      <% @merchant.menu_items.each do |item| %>
        <article class="media" data-target="checkout.menu-item" data-name="<%= item.name %>%" data-price="<%= item.price_cents %>">
          <div class="media-left">
            <p class="image is-128x128-desktop is-64x64-mobile">
              <img src="https://placeimg.com/92/92/bacon?=<%= rand(100) %>%">
            </p>
          </div>
          <div class="media-content">
            <div class="content">
              <h4><%= item.name %></h4>
              <p class="is-size-7-mobile"><%= item.description %></p>
            </div>
            <% if delivery?(@merchant) %>
            <div class="field has-addons" data-controller="numeric-input">
              <div class="control">
                <a class="button is-small is-light" data-action="numeric-input#sub"><i class="fa fa-minus"></i></a>
              </div>
              <div class="control">
                <input class="input is-small" type="text" value="0" data-target='numeric-input.number' readonly>
              </div>
              <div class="control">
                <a class="button is-small is-light" data-action="numeric-input#add"><i class="fa fa-plus"></i></a>
              </div>
            </div>
            <% end %>
          </div>
          <div class="media-right has-text-right">
            <h2 class="subtitle"><%= item.price.format %></h2>
          </div>
        </article>
      <% end %>
      <% if delivery?(@merchant) %>
        <hr/>
        <div class="container has-text-right">
          <h1 class='title'>Total</h1>
          <h2 class='subtitle is-2' data-target="checkout.total-value">$0.00</h2>
        </div>
      <% end %>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <% if delivery?(@merchant) %>
        <%= link_to whatsapp_url(@merchant.phone), class: 'button is-success is-fullwidth is-large', data: { target: 'checkout.order-button' } do %>
          <span class='icon'><i class="fab fa-whatsapp"></i></span> &nbsp; Ordenar por WhatsApp
        <% end %>
      <% end %>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong><%= @merchant.name %></strong>
    </p>
  </div>
</footer>
