<% content_for(:keywords, @merchant.keyword_list.to_s) %>
<% content_for(:title, @merchant.name) %>
<header class="header">
  <div class="hero is-dark px-5">
    <div class="hero-body">
      <article class="media columns is-vcentered">
        <% if @merchant.logo.attached? %>
        <div class="media-left">
          <figure class="image is-128x128">
            <%= image_tag @merchant.logo.variant(resize_to_fit: [256, 256]), class: 'is-rounded' %>
          </figure>
        </div>
        <% end %>
        <div class="media-content">
          <h1 class="title">
            <%= @merchant.name %>
          </h1>
        </div>
      </article>
    </div>
  </div>
</header>

<section class="section" data-controller="checkout", data-checkout-merchant-phone="52<%= @merchant.phone %>" >
  <div class="columns">
    <div class="column">
      <% @merchant.menu_items.each do |item| %>
        <article class="media">
          <div class="media-left">
            <% if item.photo.attached? %>
            <p class="image is-128x128">
              <%= image_tag item.photo.variant(resize_to_fit: [256, 256]) %>
            </p>
            <% end %>
          </div>
          <div class="media-content">
            <div class="content">
              <h4><%= item.name %></h4>
              <p class="is-size-7-mobile"><%= item.description %></p>
              <h2 class="subtitle is-5 is-hidden-desktop"><%= item.price.format %></h2>
            </div>
            <% if delivery?(@merchant) %>
            <div class="field has-addons" data-controller="numeric-input" data-target="checkout.menuItem" data-name="<%= item.name %>" data-price="<%= item.price_cents %>">
              <div class="control">
                <a class="button is-small is-light" data-action="numeric-input#sub checkout#updateCart"><i class="fa fa-minus"></i></a>
              </div>
              <div class="control">
                <input class="input is-small" type="text" value="0" data-target='numeric-input.number' readonly>
              </div>
              <div class="control">
                <a class="button is-small is-light" data-action="numeric-input#add checkout#updateCart"><i class="fa fa-plus"></i></a>
              </div>
            </div>
            <% end %>
          </div>
          <div class="media-right has-text-right is-hidden-mobile is-hidden-tablet-only">
            <h2 class="subtitle"><%= item.price.format %></h2>
          </div>
        </article>
      <% end %>
      <% if delivery?(@merchant) %>
        <hr/>
        <div class="container has-text-right">
          <h1 class='title'>Total</h1>
          <h2 class='subtitle is-2' data-target="checkout.totalValue">$0.00</h2>
        </div>
      <% end %>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <% if delivery?(@merchant) %>
        <%= link_to whatsapp_url("52#{@merchant.phone}"), class: 'button is-success is-fullwidth is-large', data: { target: 'checkout.whatsappOrder' } do %>
          Ordenar por &nbsp; <span class='icon'><i class="fab fa-whatsapp"></i></span>
        <% end %>
      <% end %>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Creado con <%= link_to 'MenúFacilito', root_url %></strong>
    </p>
  </div>
</footer>
