<%= form_with(model: merchant, local: true) do |f| %>
  <% if merchant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(merchant.errors.count, "error") %> prohibited this merchant from being saved:</h2>

      <ul>
        <% merchant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1 class="title">Información de tu negocio</h1>

  <div class="field">
    <%= f.label :logo, 'Logo', class: 'label' %>
    <% if merchant.logo.attached? %>
    <p class="image is-128x128">
      <%= image_tag merchant.logo %>
    </p>
    <% end %>
    <div class="control">
      <%= f.file_field :logo %>
    </div>
  </div>

  <div class="field picker-wrapper">
    <a class="button is-info is-outlined">Seleciona color de fondo</a>
    <div class="color-picker"></div>
    <%= f.hidden_field :theme_header_background %>
  </div>

  <div class="field">
    <%= f.label :name, 'Nombre de tu negocio', class: 'label' %>
    <div class="control">
      <%= f.text_field :name, class: 'input', placeholder: 'ej. La cocina de mamá', data: {action: 'keyup->edit-merchant#updateName'} %>
    </div>
  </div>

  <div class="field">
    <%= f.label :delivery, class: 'checkbox' do %>
      <%= f.check_box :delivery, class: 'checkbox' %>
      Entregas a domicilio
    <% end %>
  </div>

  <div class="field">
    <%= f.label :name, 'Tu telefono', class: 'label' %>
    <div class="control">
      <%= f.text_field :phone, class: 'input', placeholder: '55 6783 2673' %>
    </div>
  </div>

  <hr/>
  <h1 class="title">Search Engine Optimization</h1>
  <h2 class="subtitle">Ayuda a que Google te encuentre mas rapido</h2>
  <div class="field">
    <%= f.label :keywords, 'Palabras clave', class: 'label' %>
    <div class="control">
      <em class="help">(Separa las palabras clave por comas)</em>
      <%= f.text_field :keywords, class: 'input', placeholder: 'e.j. economico, pizza, mexiana' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :description, 'Que te gustaria decir de negocio', class: 'label' %>
    <div class="control">
      <%= f.text_field :description, class: 'input', placeholder: 'ej. Sabores caseros con un toque gourment' %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.submit class: 'button is-primary' %>
    </div>
  </div>
<% end %>
