<article class="media">
  <figure class="media-left">
    <% if merchant.logo.attached? %>
    <figure class="image is-128x128">
      <%= image_tag merchant.logo.variant(resize_to_fit: [256, 256]) %>
    </figure>
    <% else %>
      <figure class="image is-pulled-right"><%= svg_code(merchant) %></figure>
    <% end %>
  </figure>
  <div class="media-content">
    <h1 class="title"><%= merchant.name %></h1>
    <div class="content">
      <ul>
        <% if merchant.delivery %>
        <li>
          <span class="icon"><i class="fas fa-truck"></i></span>
          Entregas a domicilio
        </li>
        <% end %>
        <% if merchant.phone.present? %>
        <li>
          <span class="icon"><i class="fa fa-phone"></i></span>
          <%= merchant.phone %>
        </li>
        <% end %>
        <li>
          <%= link_to page_path(merchant), target: '_blank' do %>
          <span class='icon'><i class="fa fa-link"></i></span> <span>Tu pagina</span>
          <% end %>
        </li>
        <li>
          <%= link_to merchant_cards_url(merchant), target: '_blank' do %>
            <span class="icon"><i class="fa fa-id-card"></i></span> Tarjetas de presentacion
          <% end %>
        </li>
        <li>
          <%= link_to merchant_code_url(merchant, format: :png), target: '_blank' do %>
            <span class="icon"><i class="fa fa-qrcode"></i></span> Codigo QR
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</article>
