<article class="media box">
  <figure class="media-left">
    <img class="image"><%= svg_code(page_url(merchant.slug)) %></img>
  </figure>
  <div class="media-content">
    <h1 class="title"><%= merchant.name %></h1>
    <h2 class="subtitle is-7">
    <%= link_to page_path(merchant.slug) do %>
      <span class="icon"><i class="fa fa-link"></i></span>
      <%= page_url(merchant.slug) %>
    <% end %>
    </h2>
    <div class="content">
      <p>
        <%= link_to edit_merchant_path(merchant) do %>
          <span class="icon"><i class="fa fa-edit"></i></span>
          Editar
        <% end %><br/>
        <%= link_to '#' do %>
          <span class="icon"><i class="fa fa-print"></i></span>
          Imprimir QR
        <% end %><br/>
      </p>
    </div>
  </div>
</article>