<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li class="is-active"><%= link_to merchant.name, '#' %></li>
    <li><%= link_to 'Editar', edit_merchant_path(merchant) %></li>
  </ul>
</nav>
<div class="columns">
  <div class="column is-half">
    <article class="media">
      <figure class="media-left">
        <% if merchant.logo.attached? %>
        <figure class="image is-128x128">
          <%= image_tag merchant.logo.variant(resize_to_fit: [256, 256]) %>
        </figure>
        <% else %>
          <figure class="image is-pulled-right"><%= svg_code(page_url(merchant)) %></figure>
        <% end %>
      </figure>
      <div class="media-content">
        <h1 class="title"><%= merchant.name %></h1>
        <h2 class="subtitle is-6">
          <%= link_to page_path(merchant) do %>
            <%= page_url(merchant) %>
          <% end %>
        </h2>
        <div class="content">
          <ul>
            <% if merchant.delivery %>
            <li>
              <span class="icon"><i class="fas fa-truck"></i></span>
              Entregas a domicilio
            </li>
            <% end %>
            <% if merchant.phone.present? %>
            <li>
              <span class="icon"><i class="fa fa-phone"></i></span>
              <%= merchant.phone %>
            </li>
            <% end %>
            <li>
              <%= link_to merchant_cards_url(merchant), target: '_blank' do %>
                <span class="icon"><i class="fa fa-id-card"></i></span> Tarjetas de presentacion
              <% end %>
            </li>
            <li>
              <%= link_to page_url(merchant, format: :png), target: '_blank' do %>
                <span class="icon"><i class="fa fa-qrcode"></i></span> Codigo QR
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </div>
  <div class="column">
    <h1 class="title">
      <%= link_to new_merchant_menu_item_path(merchant), class: 'button is-success is-small is-pulled-right' do %>
        <span class="icon ">
          <i class="fa fa-plus"></i>
        </span>
      <% end %>
      Menú
    </h1>
    <% merchant.menu_items.each do |item| %>
      <article class="media">
        <div class="media-left">
          <% if item.photo.attached? %>
            <p class="image is-64x64">
              <%= image_tag item.photo.variant(resize_to_fit: [128, 128]) %>
            </p>
          <% end %>
        </div>
        <div class="media-content">
          <div class="content">
            <h5><%= item.name %></h5>
            <p><%= item.description %></p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <%= link_to edit_merchant_menu_item_path(merchant, item), class: 'level-item' do %>
                <span class="icon is-small"><i class="fas fa-edit"></i></span>
              <% end %>
              <%= link_to merchant_menu_item_path(merchant, item), class: 'level-item', method: :delete do %>
                <span class="icon is-small"><i class="fas fa-trash"></i></span>
              <% end %>
            </div>
          </nav>
        </div>
        <div class="media-right">
          <div class="content">
            <p><%= item.price.format %></p>
          </div>
        </div>
      </article>
    <% end %>
  </div>
</div>
