<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li class="is-active"><%= link_to merchant.name, '#' %></li>
    <li><%= link_to 'Edita tu negocio', edit_merchant_path(merchant) %></li>
  </ul>
</nav>
<div class="columns">
  <div class="column">
    <%= render @merchant %>
  </div>
  <div class="column">
    <div class="level">
      <div class="level-left">
        <h1 class="title">Menú</h1>
      </div>
      <div class="level-right">
        <%= link_to new_merchant_menu_item_path(merchant), class: 'button is-success' do %>
        <span class="icon">
          <i class="fa fa-plus"></i>
        </span>
        <span> Agregar producto</span>
        <% end %>
      </div>
    </div>
    <% merchant.menu_items.each do |item| %>
      <article class="media">
        <div class="media-left">
          <% if item.photo.attached? %>
            <p class="image is-64x64">
              <%= image_tag item.photo.variant(resize_to_fit: [128, 128]) %>
            </p>
          <% end %>
        </div>
        <div class="media-content">
          <div class="content">
            <h5><%= item.name %></h5>
            <p><%= item.description %></p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <%= link_to edit_merchant_menu_item_path(merchant, item), class: 'level-item' do %>
                <span class="icon is-small"><i class="fas fa-edit"></i></span><span>&nbsp;Editar</span>
              <% end %>
              <%= link_to merchant_menu_item_path(merchant, item), class: 'level-item has-text-danger', method: :delete do %>
                <span class="icon is-small"><i class="fas fa-trash"></i></span><span>&nbsp;Eliminar</span>
              <% end %>
            </div>
          </nav>
        </div>
        <div class="media-right">
          <div class="content">
            <p><%= item.price.format %></p>
          </div>
        </div>
      </article>
    <% end %>
  </div>
</div>
