<h1 class="title">Negocios</h1>

<div class="columns">
  <div class="column is-fullwidth">
    <% @merchants.each do |merchant| %>
      <article class="media">
        <figure class="media-left">
          <% if merchant.logo.attached? %>
          <figure class="image is-64x64">
            <%= image_tag merchant.logo.variant(resize_to_fit: [256, 256]) %>
          </figure>
          <% end %>
        </figure>
        <div class="media-content">
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="title"><span class="icon"><i class="fas fa-store"></i></span></p>
                <p class="heading"><%= link_to merchant.name, merchant_path(merchant) %></p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="title"><span class="icon"><i class="fas <%= merchant.delivery ? 'fa-truck' : 'fa-cash-register' %>"></i></span></p>
                <p class="heading"><%= merchant.phone %></p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="title"><%= merchant.orders_count %></p>
                <p class="heading">Orders</p>
              </div>
            </div>
          </nav>
        </div>
      </article>
    <% end %>
  </div>
</div>
