<div class="columns">
  <div class="column is-one-fifth-widescreen is-one-fourth-desktop is-one-third-tablet">
    <%= render @merchant, cached: true %>
  </div>
  <div class="column">
    <div class="level">
      <div class="level-left">
        <h1 class="title">Productos</h1>
      </div>
      <div class="level-right">
        <div class="dropdown is-pulled-right is-right" data-controller="dropdown">
          <div class="dropdown-trigger">
            <button class="button is-info is-outlined" data-action="dropdown#toggle" aria-haspopup="true" aria-controls="dropdown-add">
              <span>Agregar</span>
              <span class="icon is-small"><i class="fa fa-plus" aria-hidden="true"></i></span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-add" role="menu">
            <div class="dropdown-content">
              <%= link_to 'Producto', new_merchant_menu_item_path(@merchant), class: 'dropdown-item' %>
              <%= link_to 'Sección', new_merchant_section_path(@merchant), class: 'dropdown-item' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabs">
      <ul>
        <% @merchant.menu.sections.each do |section| %>
          <li class="is-capitalized <%= 'is-active' if @section_filter == section.id %>"><%= link_to section.name, merchant_path(@merchant, section: section.id) %></li>
        <% end %>
      </ul>
    </div>
    <div data-controller="sortable" data-sortable-url="<%= sort_merchant_menu_items_path(@merchant)%>">
      <%= render @menu_items, merchant: @merchant %>
    </div>
  </div>
</div>
