<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="yandex-verification" content="f766fb72d367e207" />
  <meta name="keywords" content="menu online, menu en linea, negocio, comercio, local, comida, servicios, productos, herramienta, clientes">
  <meta name="description" content="Crea tus menus en linea y conecta mejor con tus clientes">
  <title><%= content_for?(:title) ? yield(:title) : 'menufacilito.com' %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <%= link_to user_root_path, class: 'navbar-item' do %>
        <p class="title is-4">
          <span class="icon"><i class="fas fa-utensils"></i></span> MenúFacilito
        </p>
      <% end %>
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-end">
        <% if user_signed_in? %>

      <div class="navbar-item has-dropdown" data-controller="dropdown">
        <a class="navbar-link" data-action="dropdown#toggle">
          <span><%= current_user.email %></span>
        </a>
        <div class="navbar-dropdown is-boxed">
          <%= link_to "Panel de control", user_root_path, class: 'navbar-item' %>
          <hr class="navbar-divider">
          <%= link_to "Cerrar session", destroy_user_session_path, class: 'navbar-item', method: :delete %>
        </div>
        <% else %>
        <div class="navbar-item">
          <div class="buttons">
            <%= link_to 'Ya tengo una cuenta', new_session_path(:user), class: 'button' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </nav>
  <section class="section">
    <div class="container">
      <% if flash[:notice].present? %>
      <div class="notification is-primary is-light">
        <button class="delete"></button>
        <%= notice %>
      </div>
      <% end %>
      <% if flash[:alert].present? %>
      <div class="notification is-warning is-light">
        <button class="delete"></button>
        <%= alert %>
      </div>
      <% end %>
      <%= yield %>
    </div>
  </section>
  <script src="https://kit.fontawesome.com/238d584d83.js" crossorigin="anonymous"></script>
</body>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173157976-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-173157976-1');
</script>
</html>
