<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="menu online, menu en linea, negocio, comercio, local, comida, servicios, productos, herramienta, clientes">
  <meta name="description" content="Crea tus menus en linea y conecta mejor con tus clientes">
  <title><%= content_for?(:title) ? yield(:title) : 'menufacilito.com' %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
</head>
<body>
  <%= render 'shared/navbar', merchant: @merchant %>
  <section class="section main <%= controller_name %>">
      <% if flash[:notice].present? %>
      <div class="notification is-primary is-light">
        <button class="delete"></button>
        <%= notice %>
      </div>
      <% end %>
      <% if flash[:alert].present? %>
      <div class="notification is-warning is-light">
        <button class="delete"></button>
        <%= alert %>
      </div>
      <% end %>
      <%= yield %>
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        Hecho con amor a <strong>México</strong>
      </p>
    </div>
  </footer>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</body>
</html>
